@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background: transparent;
}

.header .nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.nav a:hover {
    border-bottom: 4px solid #333;
    transition: .5s;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url('./Grammar2.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(5px); 
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 100px 0;
}

.content a { 
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 3em;
    font-weight: 700;
    top: -40px;
    left: 80px;
}

.content h2 {
    font-size: 3.5em;
    text-align: center;
    color: #34d399;
    letter-spacing: 10px;
}

.content h3 {
    font-size: 2em;
    text-align: center;
    color: #fbbf24;
}

.content pre {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    color: #333;
}

.content .icon {
    margin-top: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.content .icon i {
    margin-left: 20px;
    color: #333;
}

.login {
    width: 450px;
    position: relative;
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.login h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login .input {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

.login .input .input1 {
    font-size: 16px;
    padding: 10px;
    background: transparent;
    border: 2px solid #34d399;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 100%;
    color: #333;
    transition: all 0.3s ease;
}

.login .input .input1:focus {
    border-color: #10b981;
    box-shadow: 0 0 10px rgba(16, 185, 129, 0.2);
}

::placeholder {
    color: #aaa;
    font-size: 18px;
}

.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #333;
}

.check a {
    text-decoration: none;
    color: #10b981;
}

.check a:hover {
    text-decoration: underline;
}

.login .button {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    height: 100%;
    background-color: #34d399;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #10b981;
}

button:active {
    transform: scale(0.98);
}

.login .sign-up {
    display: flex;
    justify-content: center;
}

.login .sign-up a {
    text-decoration: none;
    color: #10b981;
    font-weight: 700;
}

.login .sign-up p { 
    color: #333;
}

.sign-up a:hover {
    text-decoration: underline;
}
