* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav {
    background: #f2d98d;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background: #525252;
    color: #f2d98d;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
    margin-left: 300px;
    background: #525252;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.sub-menu-wrap.open-menu {
    max-height: 450px;
}

.sub-menu {
    background: #a8bfbd86;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info h3 {
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    margin-left: 20px;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    margin-right: 15px;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}