@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url('./GrammarB.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Register {
    width: 450px;
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Register h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.Register .input {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

.Register .input .input1 {
    font-size: 16px;
    padding: 10px;
    background: transparent;
    border: 2px solid #34d399;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 100%;
    color: #333;
    transition: all 0.3s ease;
}

.Register .input .input1:focus {
    border-color: #10b981;
    box-shadow: 0 0 10px rgba(16, 185, 129, 0.2);
}

::placeholder {
    color: #aaa;
    font-size: 18px;
}

.button {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    height: 100%;
    background-color: #34d399;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #10b981;
}

button:active {
    transform: scale(0.98);
}

.Register p {
    color: red;
    text-align: center;
}
