/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 26, 2024, 7:26:45 PM
    Author     : admin
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 26, 2024, 3:11:47 PM
    Author     : admin
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    background-color: #f5f5f5;
}

.container {
    width: 100%;height: 100%;
}
.flexde{
    display: flex;
}
.sidebar {
    width: 200px;
    background: #fafafa;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:hover{
    text-decoration: none;
}
.sidebar .logo {
    
    font-weight: bold;
    color:#34d399;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 20px;
}
.sidebar .logo h2 {
    margin: 0;
    color: #007A7A;/* Remove any default margin */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li .new-page,
.sidebar ul li .new-summary,
.sidebar ul li .page-item,
.sidebar ul li .summary-item {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    text-align: left;
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
.sidebar ul li .new-page i{
     margin-right: 10px;
}

.sidebar ul li .section-title {
    font-weight: bold;
    margin-top: 20px;
}

.editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
}

.form-class.button-group {
    display: flex;
    margin-bottom: 20px;
    inset-inline: auto;
}
input {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

input:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

input:active {
  transform: translateY(-1px);
}
.toolbar-button {
    display: inline-block;
    padding: 10px 22px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 10px;
    cursor: pointer;
    color: black;
    z-index: 1;
    width: 145px; /* Set a fixed width */
    text-align: center; /* Center the text */
    white-space: nowrap; /* Prevent text from wrapping */
    
}

.toolbar-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.toolbar-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.toolbar-button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.toolbar-button:hover:before {
  top: -35%;
  background-color: #34d399;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

toolbar-button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  
}
.flex_box{
    display: flex
}
.form-class.editor {
    flex: 1;
}
.header-text{
    text-align: center;
    text-decoration: #39bda7
}
textarea {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
}

.editor-notes {
    width: 300px;
    height: 100vh;
    background: #fafafa;
    border-left: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.upgrade-button {
    align-self: flex-end;
    background: #ff6600;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.notes-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}.text-decoration{
    font-family: "Inter", sans-serif, serif;
    font-size: 16px;
    color: #2f3333;
    border-radius: 10px;
    border: #2f3333 1px solid;
    padding: 10px 10px 10px 10px;
}
 /* CSS styles for the form */
        .form-container {
            margin: 20px;
            padding: 20px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
        }
        .form-container form {
            display: flex;
            flex-direction: column;
        }
        .form-container form input[type="hidden"] {
            display: none; /* Hide hidden input fields */
        }
        .form-container form input[type="submit"] {
            background-color: #4CAF50; /* Green background */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
        }
        .form-container form input[type="submit"]:hover {
            background-color: #45a049; /* Darker green when hovering */
        }
        /* Additional styling for the second form based on your condition */
        .form-container form.hidden-condition {
            display: none;
        }
.note {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
     font-family: "Inter", sans-serif, serif;
    font-size: 14px;
    color: #2f3333;
    padding-right: 20px;
}
.btn {
 background-color: #00BFA6;
 padding: 3px 5px;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor: pointer;
 border-radius: 10px;
 border: 2px dashed #00BFA6;
 transition: .4s;
 
}

.btn span:last-child {
 display: none;
}

.btn:hover {
 transition: .4s;
 border: 2px dashed #00BFA6;
 background-color: #fff;
 color: #00BFA6;
}

.btn:active {
 background-color: #87dbd0;
}
